@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: auto;
  min-height: 100%;
  /* background-color: #0f172a; */
  /* background-image: url("./assets/bg2.jpg"); */
  /* background-image: linear-gradient(to top, var(--tw-gradient-stops)); */
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #0f172a;
  --tw-gradient-to: rgb(6 182 212 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #1655bb;

  font-family: "IBM Plex Sans JP", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Maru Gothic", sans-serif;
}
